body {
  width: 70em;
  margin-left: 1em;
  background-color: #fffff2;
}

div.summary {
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  padding-left: 0.5em;
  padding-top: 0.5em;
  margin-bottom: 1em;
}

div.language-python div.highlight pre.highlight {
  background-color: #ffe0e0;
}

div.language-r div.highlight pre.highlight {
  background-color: #e0ffe0;
}

footer {
  text-align: center;
}

blockquote {
  margin-left: 2em;
  margin-right: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #f0f0f0;
}

a[href*="glossary/#"] {
  font-weight: bold;
}
