<head>
  <title>{{site.title}}{% if page.title %}: {{page.title}}{% endif %}</title>
  <link rel="stylesheet" href="{{'/css/bootstrap.min.css' | relative_url}}" />
  <link rel="stylesheet" href="{{'/css/tango.css' | relative_url}}" />
  <link rel="stylesheet" href="{{'/css/site.css' | relative_url}}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async></script>
  <script src="{{'/js/jquery.min.js' | relative_url}}"></script>
  <script src="{{'/js/bootstrap.min.js' | relative_url}}"></script>
  <script src="{{'/js/site.js' | relative_url}}"></script>
</head>
