{% comment %}
Display a block of points such as learners' questions, learning objectives, or key points.

title: block title.
items: list to display.

Note:
- This strips off the extra 'p' tag that "markdownify" wraps around each item.
- This is hard-wired to display the English language lessons.
{% endcomment %}

{% for toc in site.lessons %}
  {% assign heading_id = toc | replace: "/", "" %}
  {% for page in site.en %}
    {% if toc == page.permalink %}
      {%- if include.which == "questions" -%}
        {%- assign which = page.questions -%}
      {%- elsif include.which == "objectives" -%}
        {%- assign which = page.objectives -%}
      {%- elsif include.which == "keypoints" -%}
        {%- assign which = page.keypoints -%}
      {% endif %}
<h2 id="{{heading_id}}">{{page.title}}</h2>
<ul>
{% for obj in which %}<li>{{obj | markdownify | replace: "<p>", "" | replace: "</p>", ""}}</li>{% endfor %}
</ul>
<p align="right"><a href="{{page.permalink | relative_url}}">...visit page</a></p>
    {% endif %}
  {% endfor %}
{% endfor %}
