<html>
  {% include header.html %}
  <body>

    {% if page.title %}
    <div align="center">
      <h1>
        {% include elder-sign.html %}
        {{page.title}}
        {% include elder-sign.html %}
      </h1>
    </div>
    {% endif %}

    {% include summary-block.html title="Questions Answered" items=page.questions %}
    <div id="headings" class="summary"></div>

    {{content}}

    {% include summary-block.html title="Key Points" items=page.keypoints %}

    {% include footer.html %}
  </body>
</html>
